<style>
body {
	margin: 0 auto;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}
</style>
<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#222">
    <tbody>
       <tr>
          <td valign="top">
             <table width="700" border="0" align="center" cellpadding="0" cellspacing="0">
                <tbody>
                   <tr>
                      <td width="12" height="60" bgcolor="#494949"></td>
                      <td width="588" height="60" bgcolor="#343434"><table width="588" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                               <tr>
                                  <td width="20"></td>
                                  
                                  <!--Title Text-->
                                  
                                  <td style="font-family:Century Gothic, Arial, Helvetica, sans-serif; font-size:24px; color:#c69c6d;"><h1>Multinational Tour And Travels</h1></td>
                               </tr>
                               <tr>
                                  <td width="20"></td>
                                  
                                  <td style="font-family:Century Gothic, Arial, Helvetica, sans-serif; font-size:24px; color:#c69c6d; padding:30px"><h3 style="text-align:center ;">Booking</h3></td>
                                  
                               </tr>
                            </tbody>
                         </table></td>
                   </tr>
                </tbody>
             </table>
            
             
             <!--End Quote Style 1--> 
             
             <!--End Title Bar--> 
             
             <!--1:3 Panel [Left Text]-->
             
             <table width="700" border="0" align="center" cellpadding="10" cellspacing="15"       
                  bgcolor="#2b2b2b">
                <tbody style="font-size:25px; color:#c5c0c0">
                   <tr >
                      <td >Name</td>
                      <td style="color:goldenrod">@Model.Name</td>
                      
                   </tr>
                   <tr>
                     <td>Email</td>
                     <td style="color:goldenrod">@Model.Email</td>
                   </tr>
                   <tr>
                     <td >Phone No.</td>
                            <td style="color:goldenrod">@Model.Contact</td>
                   </tr>

                   <tr>
                     <td >No Of Adults </td>
                            <td style="color:goldenrod">@Model.NoOfAdults</td>
                   </tr>


                   <tr>
                     <td >No Of Children</td>
                            <td style="color:goldenrod">@Model.NoOfChildrens</td>
                   </tr>


                   <tr>
                     <td >Travel Date</td>
                            <td style="color:goldenrod">@Model.TravelDate</td>
                   </tr>
               
                </tbody>
             </table>
             
             <!--End 1:3 Panel [Left Text]--> 
             <!--Quote Style 2-->
             
         
        
             </td>
       </tr>
    </tbody>
 </table>